.carousels-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-brand);
  background-color: var(--color-secondary-gray);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-light);
  }

  &.next {
    transform: rotate(180deg);
  }
}
