.input {
  &__label {
    position: absolute;
  }

  &__control {
    display: block;
    margin: 0 auto;
    padding: 12px 35px 12px 80px;
    width: 100%;
    max-width: 320px;
    color: var(--color-primary-light);
    background-color: transparent;
    border: 1px solid var(--color-primary-light);
    border-radius: 8px;

    @media screen and (min-width: $bp-desktop) {
      max-width: 450px;
    }

    @media screen and (min-width: $bp-tablet) {
      max-width: 600px;
    }

    &:active {
      border: 1px solid var(--color-primary-light);
      color: var(--color-primary-dark);
    }
  }
}
