:root {
  --color-brand: #ffffff;
  --color-primary-light: #ff9f0e;
  --color-primary-dark: #181817;
  --color-secondary-orange: #fcb62a;
  --color-secondary: #fffaf3;
  --color-secondary-dark: #f1f3ff;
  --color-secondary-gray: #839aa9;
  --color-secondary-light: #f9f9ff;
  --color-bright: #d9a6ff;
}

$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;
