.shop-section {
  margin-bottom: 40px;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 70px;
  }

  &__container {
    margin-bottom: 32px;
  }

  &__header {
    width: 100%;
    padding: 16px 20px 0px;
    margin-bottom: 72px;
    position: relative;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding-top: 100px;
  }

  &__item {
    flex-basis: calc((100% - 32px) / 5);
  }
}
